<div class="main-page">
    <!-- @@include('../../els/img.html', { "src": "bgc", "ext": "jpg", "cx":"main-page__bgc-img" }) -->
    <div class="container">
        <header><img src="./img/h1.svg" alt=""></header>
        <div class="main-page__color-block-container">
            <div class="main-page__color-block">
                <h1 class="main-page__color-block-title">Умеете ли правильно и осознанно выбирать дизайнера интерьера?
                </h1>
                <div class="main-page__color-block-text">Пройдите за 3 минуты тест из 8 вопросов и получите бесплатную
                    инструкцию по
                    экономии денег, времени и нервов.</div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__title">
                Начать тест. Узнать свое умение
            </div>
            <div class="footer__sign">Тест бесплатный. Данные защищены.</div>
            <img class="footer__book" src="./img/book.png" alt>
        </footer>
    </div>
</div>