<div class="end">
    <div class="container">
        <header class="end__header">
            <div class="end__header-congrat">Поздравляю! Тест пройден</div>
            <div class="end__header-block">
                <div class="end__header-man">
                    <img src="./img/man-logo.svg" alt>
                </div>
                <div class="end__header-text">
                    Рынок дизайна интерьеров давно уже превратился в рынок мошенников и разводил.
                    Справедливости ради,
                    нужно отметить, не все дизайнеры интерьера мошенники. Встречаются порядочные и классные специалисты.
                </div>
            </div>
            <div class="end__header-h1">
                <img src="./img/h1.svg" alt>
            </div>
        </header>
        <div class="end__color-block-container">
            <div class="end__color-block">
                <div class="end__color-block-el">
                    <div class="end__color-block-el-text">
                        Выбираете дизайнера интерьера впервые?
                    </div>
                    <div class="end__color-block-el-desc">
                        — Не стройте иллюзий. Будете жирным карасем в пруду с хищниками.
                    </div>
                </div>
                <div class="end__color-block-el">
                    <div class="end__color-block-el-text">
                        Уже заказывали дизайн-проект, кажется, что беда миновала?
                    </div>
                    <div class="end__color-block-el-desc">
                        — Не известно, сколько денег было слито в трубу при прошлом заказе.
                    </div>
                </div>
                <div class="end__color-block-el">
                    <div class="end__color-block-el-text">
                        Хотите начать в этом разбираться?
                    </div>
                    <div class="end__color-block-el-desc">
                        — Узнайте основные уловки дизайнеров интерьера. ddiи защитите себя от обмана.
                    </div>
                </div>
            </div>
            <div class="end__right">
                <div class="end__right-block">
                    <div class="end__right-img">
                        <img src="./img/book2.png" alt>
                    </div>
                    <div class="end__right-text">
                        <b>
                            Только сегодня<br>
                        </b>
                        в подарок получите обзор основных уловок дизайнеров интерьера и инструкцию по
                        противодействию им.
                    </div>
                </div>
                <div class="end__right-last-chance">
                    Последний шаг. Введите свои данные и получите результат теста в свой
                    мессенджер.
                </div>
            </div>
            <div class="end__form">
                <div class="end__form-title">
                    Отправьте и получите результат сообщением в Facebook- мессенджер
                </div>
                <form>
                    <input type="text" placeholder="Ваше имя">
                    <input type="tel" placeholder="Телефон">
                </form>
            </div>
        </div>

        <footer class="footer">
            <div class="footer__text">Поздравляю! Тест пройден</div>
            <button id="get-results" class="footer__button">Получить результат</button>
            <div class="footer__sign">Данные защищены</div>
        </footer>
    </div>
</div>