<div class="question">
    <div class="container">
        <header>Оценка умения правильно и осознанно выбирать дизайнера интерьера</header>
        <div class="question__color-block-container">
            <div class="question__color-block">
                <h1 class="question__color-block-title">Был ли у Вас опыт работы с дизайнером интерьера? </h1>
                <form id="question__form" class="question__form">
                    <label class="radio">
                        <input type="radio" name="one" value="one" />
                        <div class="radio__text">Да, я несколько раз заказывал дизайн-проекты.</div>
                    </label>
                    <label class="radio">
                        <input type="radio" name="one" value="two" />
                        <div class="radio__text">Да, один раз я уже заказывал дизайн-проект.</div>
                    </label>
                    <label class="radio">
                        <input type="radio" name="one" value="three" />
                        <div class="radio__text">Нет, это будет мой первый опыт.</div>
                    </label>
                </form>
            </div>
            <div class="question__next">
                <div class="question__next-text-container">
                    <img src="./img/man.svg" alt>
                    <div class="question__next-text">— Оптимальный вариант для достижения желаемого результата. Только
                        если
                        дизайнер - профессионал с большой буквы и порядочный человек.</div>
                </div>
                <button type="submit" form="question__form" class="question__next-button">
                    <span>
                        Следующий вопрос
                    </span>
                    <img src="./img/button-arrow.svg" alt>
                </button>
            </div>
        </div>

        <footer class="footer">
            <div class="footer__progress-bar">
                <div class="footer__progress-bar-inner"></div>
                <div class="footer__progress-bar-inner-text">50%</div>
                <div class="footer__nums">
                    <div class="footer__nums-top"> 4 </div>
                    <div class="footer__nums-bottom"> /8 </div>
                </div>
            </div>
        </footer>
    </div>
</div>