<div class="question">
    <div class="container">
        <header>Оценка умения правильно и осознанно выбирать дизайнера интерьера</header>
        <div class="question__color-block-container">
            <div class="question__color-block">
                <h1 class="question__color-block-title">По каким критериям нужно оценивать дизайнера интерьера?</h1>
                <form id="question__form" class="question__form">
                    <label class="question__form-radio">
                        <input type="radio" name="one" value="one" />
                        <span class="question__form-radio-text">Адекватная цена за работу и красивые проекты в портфолио
                            рулят.</span>
                    </label>
                    <label class="question__form-radio">
                        <input type="radio" name="one" value="two" />
                        <span class="question__form-radio-text">Важно, чтобы был огромный опыт и много положительных
                            отзывов о его
                            работе.</span>
                    </label>
                    <label class="question__form-radio">
                        <input type="radio" name="one" value="three" />
                        <span class="question__form-radio-text">Главное, чтобы умел делать полностью реализуемые без
                            головной боли
                            проекты в рамках изначально запланированного бюджета.
                        </span>
                    </label>
                </form>
            </div>
            <div class="question__next dn">
                <div class="question__next-text-container">
                    <img src="./img/man.svg" alt>
                    <div class="question__next-text">— В яблочко. Это черный пояс. Кто умеет делать такие проекты, тот
                        сделает его и стильными и практичным. Таким, в какой влюбитесь всей душой. Важно уметь найти
                        такого дизайнера.</div>
                </div>
                <button type="submit" form="question__form" class="question__next-button">
                    <span> Следующий вопрос </span>
                    <img src="./img/button-arrow.svg" alt>
                </button>
            </div>
        </div>

        <footer class="footer">
            <div class="footer__progress-bar">
                <div class="footer__progress-bar-inner last-question-inner" style="width: 50%"></div>
                <div class="footer__progress-bar-inner-text last-question-text">50%</div>
                <div class="footer__nums">
                    <div class="footer__nums-top">4</div>
                    <div class="footer__nums-bottom">/8</div>
                </div>
            </div>
        </footer>
    </div>
</div>