* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

@font-face {
    font-family: 'TT Firs Neue'; 
    src: url('./static/fonts/TT Firs Neue/TTFirsNeue-DemiBold.otf'); 
}
.start-bgc{
    background: url('./img/start-bgc.jpg') no-repeat center/cover;
}
.q1-bgc{
    background: url('./img/q1-bgc.jpg') no-repeat center/cover;
}
.q2-bgc{
    background: url('./img/q2-bgc.jpg') no-repeat center/cover;
}
.q3-bgc{
    background: url('./img/q3-bgc.jpg') no-repeat center/cover;
}
.q4-bgc{
    background: url('./img/q4-bgc.jpg') no-repeat center/cover;
}
.q5-bgc{
    background: url('./img/q5-bgc.jpg') no-repeat center/cover;
}
.q6-bgc{
    background: url('./img/q6-bgc.jpg') no-repeat center/cover;
}
.q7-bgc{
    background: url('./img/q7-bgc.jpg') no-repeat center/cover;
}
.q8-bgc{
    background: url('./img/q8-bgc.jpg') no-repeat center/cover;
}
